<div class="tab-content">
  <div class="flex flex-col lg:flex-row">
    <div class="role-info">
      <div class="hidden flex-col text-left sm:text-center justify-center md:flex">
        <a href="{{ .role_link }}" class="my-4">
          <img class="mx-auto my-4 max-w-none w-20" src={{ .icon }} /> 
          <span class="text-link-orange font-sans font-bold tracking-wide">{{ .nameSingular }} Guides & Resources &raquo;</span>
        </a>
      </div>
      <div class="card-content text-left text-gray-light leading-7">
          {{ .role_text_md | markdownify }}
      </div>
    </div>
    <div class="tab-jobs">
      {{ range (index . "jobs") }}
          {{ partial "homepage/role_slider/job.html" . }}
      {{ end }}
    </div>
  </div>
</div>
