<div class="w-1/2 pb-8 md:w-1/4 lg:w-1/6 xl:w-full">
  <div class="mx-auto w-24 h-24 rounded-full bg-black overflow-hidden mb-3">
    {{ with .image }}
      <img class="w-full h-full object-cover" src="{{ . }}">
    {{ end }}
  </div>
  <div class="text-center text-gray-light">{{ .name }}</div>
  {{ with .socials.discord_id }}
    <div class="text-center text-gray-light flex flex-nowrap items-center justify-center">
        <img class="w-4 mr-4" src="/theme-assets/icons/discord_logo_white.svg" />
        {{ . }}
    </div>
  {{ end }}
</div>
