<div class="card">
	{{ if isset . "ImagePath" }}
	<div>
		<img class="w-full" src="{{ .ImagePath }}" />
	</div>
	{{ end }}
	{{ range $element_index, $element_value := .Items}}
	{{ $color := "#323f4b"}}
	{{ if eq (mod $element_index 2) 1 }}
		{{ $color = "#2a3641"}}
	{{ end }}
	<div class="card-content" style="background-color: {{ $color }};">
		<div class="card-content-border">
			<div><img src="{{ $element_value.Icon }}" /></div>
		</div>
		<div>
			<div class="card-content-title">{{ $element_value.Name }}</div>
			<div class="card-content-patch" style="color: #7b8794 ">Patch: {{ $element_value.Patch }}</div>
			<div class="card-content-updated" style="color: #7b8794 ">Updated: {{ $element_value.Updated }}</div>
		</div>
	</div>
	{{ end }}
</div>