{{ $discord := $.Site.Params.discord }}
<div class="tabbed md:pt-8">
  {{ $metaCategories := slice "Authors" "Contributors" "Changelog"}}
  {{ range $index, $role := $metaCategories }}
  <input type="radio" id="tab-{{ $role }}" name="css-tabs" {{ if eq $index 0 }}checked{{ end }}>
  {{ end }}

  <!-- Same deal with the homepage role slider to make it work on mobile -->
  <ul class="tabs desktop">
    {{ range $role := $metaCategories }}
    <li class="tab desktop">
      <label for="tab-{{ $role }}">{{ $role }}</label>
    </li>
    {{ end }}
  </ul>

  <ul class="tabs meta-tabs">
    {{ range $role := $metaCategories }}
    <li class="tab meta-tab">
      <label for="tab-{{ $role }}">{{ $role }}</label>
      {{/* This implementation is probably less than ideal right now */}}
      {{ if eq . "Authors" }}
      <div class="tab-content meta-content">
        {{ partial "components/questions.html" (dict "discord" $discord)}}
        <div class="card-title mb-5">Authors</div>
        <div class="flex flex-row flex-wrap xl:flex-nowrap xl:gap-12">
          {{ range $author := $.Page.Params.authors }}
          {{ partial "components/author_box.html" (index $.Site.Data.author $author) }}
          {{ end }}
        </div>
      </div>
      {{ else if eq . "Contributors" }}
      <div class="tab-content meta-content">
        {{ range $author := $.Page.Params.contributors }}
        {{ partial "components/author_box.html" $author }}
        {{ end }}
      </div>
      {{ else }}
      {{ range $change := $.Page.Params.changelog }}
      <div class="tab-content meta-content">
        <div>{{ time.Format "2 Jan, 2006" .date }}</div>
        <div>{{ .message | markdownify }}</div>
      </div>
      {{ end }}
      {{ end }}
    </li>
    {{ end }}
  </ul>
</div>
