{{ $tocJs := resources.Get "js/tableOfContents.js" }}

<script type="text/javascript" src="{{ $tocJs.RelPermalink }}" defer></script>

<div class="card-title pt-4 lg:pt-6 pb-2 lg:pb-5 flex justify-between items-center">
  <span>Table of Contents</span>
  <button id="toc-toggle" class="lg:hidden text-white hover:text-gray-300 transition-colors focus:outline-none focus:ring-2 focus:ring-white focus:ring-opacity-50 rounded" aria-label="Toggle table of contents" title="Expand/collapse table of contents">
    <svg id="toc-expand-icon" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
    </svg>
    <svg id="toc-collapse-icon" class="w-5 h-5 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
    </svg>
  </button>
</div>
<div class="nested-link font-bold pt-2 mb-2 lg:mb-0" id="toc-content">
  <nav id="TableOfContents">
    <ul>
      {{ range $index, $q := . }}
      <li>
        <a href="#q{{ $index }}">{{ $q.question }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>
<div class="hidden lg:block">&nbsp;</div>
