<div class="tabbed">
    {{ $roles := .Site.Data.frontpage.slider.roles }}
    {{ range $index, $role := $roles }}
        <input type="radio" id="tab-{{ $role }}" name="css-tabs" {{ if eq $index 0 }}checked{{ end }}>
    {{ end }}
    
    <ul class="tabs">
        {{ range $role := $roles }}
            {{ $map := index $.Site.Data.frontpage.slider $role }} 
            <li class="tab"><label for="tab-{{ $role }}">{{ index $map "name" }}</label></li>
        {{ end }}
    </ul>
    
    {{ range $role := $roles }}
        {{ $map := index $.Site.Data.frontpage.slider $role }}
        {{ partial "components/role_slider/content.html" $map }}
    {{ end }}
</div>
