{
  "plugins": ["prettier-plugin-go-template"],
  "useTabs": false,
  "tabWidth": 2,
  "goTemplateBracketSpacing": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
