{{ $borderClass := "gray-600" }}

{{ if isset . "role"  }}
  {{ $borderClass = .role }}
{{ end }}

<div class="card">
	{{ with .image }}
	<div>
		<img class="w-full" src="{{ . }}" />
	</div>
	{{ end }}
	<div class="bg-card-light px-5 py-6 border-l-8 border-{{ $borderClass }}">
    <div class="border-b border-card-dark pb-5">
      {{ partial "cards/_header.html" . }}
    </div>
    <div class="py-3">
      <div class="grid grid-cols-3 grid-rows-1 gap-3">
          <div class="col-span-2">
              <div class="text-white font-bold py-3 uppercase tracking-widest">Current Tier</div>
              <div class="grid grid-cols-2 gap-3">
                  {{ range $bisIndex, $bisName := .bis }}
                      {{ $bisItemClass := "bis-item" }}
                      {{/*  TODO: figure out a better id than the name. Its too long and has to many spaces to be a clean link.  */}}
                      <div class="link"><a href={{ print "best-in-slot/#" $bisName.name }}>{{ $bisName.name }} »</a></div>
                  {{ end }}
              </div>
          </div>
          <div>
              <div class="text-white font-bold py-3 uppercase tracking-widest">Ultimates</div>
              <div class="grid grid-cols-1 gap-3">
                  {{ range $bisName := .bis }}
                      <div class="link"><a href={{ print "best-in-slot/#" $bisName.name }}>{{ $bisName.name }} »</a></div>
                  {{ end }}
              </div>
          </div>
      </div>
    </div>
    {{ partial "cards/_footer.html" . }}
	</div>
</div>
