{{ $borderClass := default "gray-600" .role }}

<div class="card">
	{{ with .image }}
	<div>
		<img class="w-full" src="{{ . }}" />
	</div>
	{{ end }}
	<div class="bg-card-light px-5 py-6 border-l-8 border-{{ $borderClass }}">
    <div class="border-b border-card-dark pb-5">
      {{ partial "cards/_header.html" . }}
    </div>
    <div class="py-3">
      <div class="grid grid-cols-3 grid-rows-1 gap-3">
          <div class="col-span-2">
              <div class="text-white font-bold py-3 uppercase tracking-widest">Current Tier</div>
              <div class="grid grid-cols-2 gap-3">
                  {{ $gearsetsList := first site.Params.maxTierGearsets .bis }}
                  {{ range $index, $item := $gearsetsList }}
                      <div class="link"><a href={{ printf "best-in-slot/#%d" $index }}>{{ $item.name }} »</a></div>
                  {{ end }}
              </div>
          </div>
          <div>
              <div class="text-white font-bold py-3 uppercase tracking-widest">Ultimates</div>
              <div class="grid grid-cols-1 gap-3">
                {{ $gearsetsList := first site.Params.maxUltimateGearsets .bis }}
                {{ range $index, $item := $gearsetsList }}
                    <div class="link"><a href={{ printf "best-in-slot/#%d" $index }}>{{ $item.name }} »</a></div>
                {{ end }}
              </div>
          </div>
      </div>
    </div>
    {{ partial "cards/_footer.html" . }}
	</div>
</div>
