{{ $borderClass := "gray-600" }}

{{ if isset . "role"  }}
  {{ $borderClass = .role }}
{{ end }}

<div class="card">
	{{ if isset . "image" }}
	<div>
		<img class="w-full" src="{{ .image }}" />
	</div>
	{{ end }}
	<div class="bg-card-light px-5 py-6 border-l-8 border-{{ $borderClass }}">
    {{ if isset . "name" }}
    <div class="border-b border-card-dark pb-8">
      {{ partial "cards/_header.html" . }}
    </div>
    {{ end }}
    {{ .content }}
    {{ if isset . "readMoreLink" }}
      <div class="pt-3">
        {{ partial "cards/_footer.html" . }}
      </div>
    {{ end }}
	</div>
</div>
