{{ define "main" }}

{{ $role := .Page.Parent.Page.Parent.Params.role }}

<div class="space-y-16">
  {{ $header := dict
    "role" $role
    "job" .Parent.Params.job_name
    "jobTitle" .Parent.Title
    "title" .Title
    "icon" "/theme-assets/armoury.svg"
    "lastmod" .Params.lastmod
    "patch" .Params.patch
    "pageContext" .
  }}
  {{ partial "job/single_header.html" $header }}

  <div class="responsive-container">
    <div class="md:grid grid-cols-12 items-start gap-8 w-full">
      <div class="table-of-contents-container max-h-screen overflow-y-auto">
        {{ partial "components/toc.html" . }}
      </div>
      <div class="job-guides-container">
        <div class="markdown max-w-none">
          {{ range $index, $bis := .Params.bis }}
            <h2 id="{{ $index }}">{{ $bis.name }}</h2>
            {{ if eq $bis.type "etro"}}
              {{ partial "components/etro.html" $bis.link }}
            {{ end }}
            {{ if eq $bis.type "gsheets"}}
              {{ partial "components/gsheets.html" $bis.link }}
            {{ end }}
            {{ $bis.description | markdownify }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <div class="responsive-container">
    {{ partial "components/guide_meta_slider.html" . }}
  </div>

  {{/* <div class="py-14 bg-no-repeat bg-cover" style="background-image: url('/theme-assets/jobs/{{ lower $role }}/{{ lower $role }}_resources_background.png');">
    {{ partial "job/job_resources.html" .Parent }}
  </div> */}}

  {{/* {{ partial "job/role_resources.html" .Parent }} */}}

</div>
{{ end }}
