{{ define "main" }}
<section class="grid grid-cols-3 grid-rows-5 gap-3">
	<div class="col-span-2">
		{{ .Content }}
	</div>
	<div class="row-span-2">
		<h1>Character image</h1>
		<img src="" />
	</div>
	<div class="row-span-2">
		<h1>Job Fundamentals</h1>
		{{ $levelingInfo := dict "" "" }}
		{{ $skillsInfo := dict "" "" }}
		{{ with .Page.GetPage "leveling-guide" }}
				{{ $levelingInfo = dict "icon" "" "name" "Leveling Guide" "patch" .Params.patch "updated" (time.Format "2 Jan, 2006" .Params.lastmod) "inlineLink" "leveling-guide" }}
		{{ end }}
		{{ with .Page.GetPage "skills-overview" }}
			{{ $skillsInfo = dict "icon" "" "name" "Skills Overview" "patch" .Params.patch "updated" (time.Format "2 Jan, 2006" .Params.lastmod) "inlineLink" "skills-overview" }}
		{{ end }}
		{{ $content := dict "image" "" "items" (slice $levelingInfo $skillsInfo)}}
		{{ partial "components/card.html" $content }}
	</div>
	<div class="row-span-2">
		<h1>Guides</h1>
		{{ $basicInfo := dict "" "" }}
		{{ $openerInfo := dict "" "" }}
		{{ with .Page.GetPage "basic-guide" }}
			{{ $guideName := printf "Basic Guide (LV %d)" .Site.Params.maxLevel}}
			{{ $basicInfo = dict "icon" "" "name" $guideName "patch" .Params.patch "updated" (time.Format "2 Jan, 2006" .Params.lastmod) "inlineLink" "basic-guide"}}
		{{ end }}
		{{ with .Page.GetPage "openers" }}
			{{ $guideName := printf "Openers (LV %d)" .Site.Params.maxLevel}}
			{{ $openerInfo = dict "icon" "" "name" $guideName "patch" .Params.patch "updated" (time.Format "2 Jan, 2006" .Params.lastmod) "inlineLink" "openers"}}
		{{ end }}
		{{ $content := dict "image" "" "items" (slice $basicInfo $openerInfo)}}
		{{ partial "components/card.html" $content }}
	</div>
	<div class="row-span-2 pr-10">
		{{ with .Page.GetPage "job-changes"}}
			{{ $optBlock := dict "display" "block" }}
			{{ $latestChanges := index (last 1 .Params.changes) 0 }}
			{{ $markdown_content := print "Patch " $latestChanges.patch ": \n\n" $latestChanges.description }}
				
			{{ $markdown_content = $markdown_content | .RenderString $optBlock }}
			{{ $itemLink := dict "text" "See all changes" "value" "job-changes"}}
			{{ $item1 := dict "icon" "" "name" "Most Recent Changes" "extra" $markdown_content "link" $itemLink}}
			{{ $content := dict "items" (slice $item1) }}
			{{ partial "components/card.html" $content }}
		{{ end }}
	</div>
	<div class="col-span-2 row-span-2">
		{{ $linkFormatString := "[Q: %s](./faq/#q%d)"}}
		{{ $currentLink := "" }}
		{{ $questionList := slice  }}
		{{ with .Page.GetPage "faq" }}
			{{ range $index, $qna := first 2 .Params.qna }}
				{{ $currentLink = printf $linkFormatString $qna.question $index }}
				{{ $renderedLink := $currentLink | $.RenderString }}
				{{ $questionList = $questionList | append $renderedLink }}
			{{ end }}
		{{ end }}
			
		{{ $linkInfo := dict "text" "See all frequently asked questions" "value" "faq"}}
		{{ $item1 := dict "icon" "" "name" "Frequently Asked Questions" "extraList" $questionList "link" $linkInfo }}
		{{ $content := dict "items" (slice $item1) }}
		{{ partial "components/card.html" $content }}
	</div>
</section>

<div class="pb-3">Gearing</div>
<section class="grid grid-cols-3 grid-rows-2 gap-y-3 gap-x-10">
	<div class="col-span-2 row-span-2">
		{{ with .Page.GetPage "best-in-slot"}}
			{{ $bisInfo := dict "icon" "" "name" "Best-in-slot (BIS) Gear Sets" "patch"
			 .Params.patch "updated" (time.Format "2 Jan, 2006" .Params.lastmod) "bis" .Params.bis}}
			{{ $content := dict "items" (slice $bisInfo) }}
			{{ partial "components/card.html" $content }}
		{{ end }}
	</div>
	<div class="md:pr-10 pr-2">
		{{ with .Page.GetPage "stat-priority" }}
			{{ $statInfo := dict "icon" "" "name" "Stats & Materia" "extraList" (slice .Params.priority) "link" (dict "text" "Why this priority?" "value" "stat-priority")}}
			{{ $content := dict "items" (slice $statInfo) }}
			{{ partial "components/card.html" $content }}
		{{ end }}
	</div>
</section>
{{ end }}