{{ define "main" }}

  {{ $role := .Page.Parent.Params.role }}

  {{ if eq .Title "Jobs" }}
    {{ partial "job/landing.html" . }}
  {{ else }}
    {{ partial "job/header.html" . }}
    <div class="space-y-14">
      {{ partial "job/fundamentals.html" . }}
      {{ partial "job/gearing.html" . }}
      {{ partial "job/advanced_guides.html" . }}

      <div class="py-14 bg-no-repeat bg-cover" style="background-image: url('/theme-assets/jobs/{{ lower $role }}/{{ lower $role }}_resources_background.png');">
        {{/* {{ partial "job/role_resources.html" .Parent }} */}}
      </div>
    </div>
  {{ end }}
{{ end }}
