{{ define "main" }}
<section class="grid grid-cols-3 grid-rows-4 gap-3">
	<div class="col-span-2">
		{{ .Content }}
	</div>
	<div class="row-span-2">
		<h1>Character image</h1>
		<img src="" />
	</div>
	<div class="row-span-2">
		<h1>Job Fundamentals</h1>
		<div>
			{{ with .Page.GetPage "leveling-guide" }}
				<h3>Leveling guide</h3>
				<p>Patch: {{ .Params.patch }}</p>
				<p>Updated: {{ time.Format "2 Jan, 2006" .Params.lastmod }}</p>
			{{ end }}
		</div>
		<div>
			{{ with .Page.GetPage "skills-overview" }}
				<h3>Skills Overview</h3>
				<p>Patch: {{ .Params.patch }}</p>
				<p>Updated: {{ time.Format "2 Jan, 2006" .Params.lastmod }}</p>
			{{ end }}
		</div>
	</div>
	<div class="row-span-2">
		<div>
			{{ with .Page.GetPage "basic-guide" }}
				<h3>Basic Guide (LV {{ .Site.Params.maxLevel }})</h3>
				<p>Patch: {{ .Params.patch }}</p>
				<p>Updated: {{ time.Format "2 Jan, 2006" .Params.lastmod }}</p>
			{{ end }}
		</div>
		<div>
			{{ with .Page.GetPage "openers" }}
				<h3>Openers (LV {{ .Site.Params.maxLevel }})</h3>
				<p>Patch: {{ .Params.patch }}</p>
				<p>Updated: {{ time.Format "2 Jan, 2006" .Params.lastmod }}</p>
			{{ end }}
		</div>
	</div>
	<div class="row-span-2"><h1>Most Recent Changes</h1></div>
	<div class="col-span-2">
		<h1>FAQ</h1>
		{{ with .Page.GetPage "faq" }}
			{{ range $index, $qna := first 2 .Params.qna }}
				<p><a href="./faq/#q{{ $index }}">{{ $qna.question }}</a></p>
			{{ end }}
		{{ end }}
	</div>
</section>
{{ end }}