{{ define "main" }}

{{ $role := .Page.Parent.Page.Parent.Params.role }}

<div class="space-y-16">
  {{ $header := dict
    "role" $role
    "job" .Parent.Params.job_name
    "jobTitle" .Parent.Title
    "title" .Title
    "icon" "/theme-assets/book.svg"
    "description" .Params.description
    "lastmod" .Params.lastmod
    "patch" .Params.patch
  }}
  {{ partial "job/single_header.html" $header }}

  <div class="responsive-container">
    <div class="md:grid grid-cols-12 items-start gap-8 w-full">
      <div class="job-guides-container">
        <div class="markdown max-w-none">
          {{ .Content }}
        </div>
      </div>
      <div class="table-of-contents-container max-h-screen overflow-y-auto">
        <div class="card-title pt-6 pb-5">Table of Contents</div>
        <div class="nested-link font-bold py-2">{{ .TableOfContents }}</div>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="responsive-container pt-8 lg:pt-0">
    {{ partial "components/guide_meta_slider.html" . }}
  </div>

  {{/* <div class="py-14 bg-no-repeat bg-cover" style="background-image: url('/theme-assets/jobs/{{ lower $role }}/{{ lower $role }}_resources_background.png');">
    {{ partial "job/job_resources.html" .Parent }}
  </div> */}}

  {{/* {{ partial "job/role_resources.html" .Parent }} */}}

</div>
{{ end }}
