{{ define "main" }}

{{ $role := .Page.Parent.Page.Parent.Params.role }}

<div class="space-y-16">
  {{ partial "job/single_header.html" . }}

  <div class="container mx-auto">
    <div class="grid grid-cols-12 items-start gap-8 w-full">
      <div class="col-span-9 bg-card-light text-white py-14 px-10">
        <div class="markdown max-w-none">
          {{ .Content }}
        </div>
      </div>
      <div class="col-span-3 bg-card-light text-white divide-y divide-page px-5 sticky top-8">
        <div class="card-title pt-6 pb-5">Table of Contents</div>
        <div class="nested-link font-bold py-2">{{ .TableOfContents }}</div>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="container mx-auto">
    {{ partial "components/guide_meta_slider.html" . }}
  </div>

  <div class="py-14 bg-no-repeat bg-cover" style="background-image: url('/theme-assets/jobs/{{ lower .Parent.Title }}_resources_background.png');">
    {{ partial "job/job_resources.html" .Parent }}
  </div>

  {{ partial "job/role_resources.html" .Parent }}

</div>
{{ end }}
