{{ $borderClass := default "gray-600" (lower .role.name) }}

<div class="flex flex-col w-full py-3 justify-center items-start">
	<div class="card card-{{ $borderClass }} space-y-3 w-full">
    {{ if isset .jobs "name" }}
      <div class="border-b border-card-dark pb-4">
        {{ partial "cards/job_landing/_header.html" .jobs}}
      </div>
    {{ end }}
    <div>

      {{ .text }}
    </div>
    {{ if isset . "readMoreLink" }}
      {{ partial "cards/_footer.html" .jobs }}
    {{ end }}
	</div>
</div>
