<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{ $title := .Title }}
        {{ if eq $title "Home"}}
        <header class="bg-center bg-cover relative z-10 h-64 md:h-96 mt-10 lg:mt-0"></header>
          {{- partial "header_home.html" . -}}
        {{ else }}
          {{- partial "header.html" . -}}
        {{ end}}
        <div id="content" class="z-20">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
