{{ $role := .Page.Parent.Params.role }}

{{ $advancedGuide := .Page.GetPage "advanced-guide"}}
{{ $fightTips := .Page.GetPage "fight-tips"}}

{{ if or ($advancedGuide) ($fightTips) }}
<div class="responsive-container">
  <div class="role-header mb-8">Advanced Guides</div>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      {{ with $advancedGuide}}
        {{ $content := dict
          "role" $role
          "icon" "/theme-assets/advanced_guide.svg"
          "name" "Advanced Guide"
          "patch" .Params.patch
          "updated" (time.Format "2 Jan, 2006" .Params.lastmod)
          "image" .Params.card_header_image
          "imageClass" "h-100"
          "inlineLink" "advanced-guide"
        }}
        {{ partial "cards/guide.html" $content }}
      {{ end }}
    </div>
    <div>
      {{ if gt (len $fightTips.Pages) 0 }}
        {{ with index $fightTips.Pages 0}}
          {{ $content := dict
              "role" $role
              "icon" "/theme-assets/fight_tips.svg"
              "name" .Title
              "patch" .Params.patch
              "image" .Params.card_header_image
              "imageClass" "h-100"
              "updated" (time.Format "2 Jan, 2006" .Params.lastmod)
              "inlineLink" .RelPermalink
            }}
            {{ partial "cards/guide.html" $content }}
          {{ end }}
          {{ range (after 1 $fightTips.Pages) }}
            {{ $content := dict
              "role" $role
              "icon" "/theme-assets/fight_tips.svg"
              "name" .Title
              "patch" .Params.patch
              "updated" (time.Format "2 Jan, 2006" .Params.lastmod)
              "inlineLink" .RelPermalink
            }}
            {{ partial "cards/guide.html" $content }}
        {{ end }}
      {{ end }}
      </div>
  </section>
</div>
{{ end }}
