{{ $role := .Page.Parent.Params.role }}

{{ $advancedGuide := .Page.GetPage "advanced-guide"}}
{{ $fightTips := .Page.GetPage "fight-Tips"}}

{{ if or ($advancedGuide) ($fightTips) }}
<div class="container mx-auto">
  <div class="role-header mb-8">Advanced Guides</div>
  <section class="grid grid-cols-2 gap-8">
    <div>
      {{ with $advancedGuide}}
        {{ $content := dict
          "role" $role
          "icon" "/theme-assets/advanced_guide.svg"
          "name" "Advanced Guide"
          "patch" .Params.patch
          "updated" (time.Format "2 Jan, 2006" .Params.lastmod)
          "image" .Params.card_header_image
          "imageClass" "h-100"
          "inlineLink" "advanced-guide"
        }}
        {{ partial "cards/guide.html" $content }}
      {{ end }}
    </div>
    <div>
      {{ with .Page.GetPage "fight-tips"}}
        {{ $content := dict
          "role" $role
          "icon" "/theme-assets/fight_tips.svg"
          "name" "Fight Tips"
          "patch" .Params.patch
          "updated" (time.Format "2 Jan, 2006" .Params.lastmod)
          "image" .Params.card_header_image
          "imageClass" "h-100"
          "inlineLink" "advanced-guide"
        }}
        {{ partial "cards/guide.html" $content }}
      {{ end }}
    </div>
  </section>
</div>
{{ end }}
