{{ $role := .Page.Parent.Params.role }}

<div class="container mx-auto">
  <div class="pb-3 role-header">Advanced Guides</div>
  <section class="grid grid-cols-2 gap-8">
    <div>
      {{ with .Page.GetPage "advanced-guide"}}
        {{ $teaserImage := "" }}
        {{ with .Params.images }}
          {{ $teaserImage = (index . 0) }}
        {{ end }}
        {{ $content := dict
          "role" $role
          "icon" "/theme-assets/advanced_guide.svg"
          "name" "Advanced Guide"
          "patch" .Params.patch
          "updated" (time.Format "2 Jan, 2006" .Params.lastmod)
          "image" $teaserImage
          "imageClass" "h-100"
          "inlineLink" "advanced-guide"
        }}
        {{ partial "cards/guide.html" $content }}
      {{ end }}
    </div>
    <div>
      {{ with .Page.GetPage "fight-tips"}}
        {{ $teaserImage := "" }}
        {{ with .Params.images }}
          {{ $teaserImage = (index . 0) }}
        {{ end }}
        {{ $content := dict
          "role" $role
          "icon" "/theme-assets/fight_tips.svg"
          "name" "Fight Tips"
          "patch" .Params.patch
          "updated" (time.Format "2 Jan, 2006" .Params.lastmod)
          "image" $teaserImage
          "imageClass" "h-100"
          "inlineLink" "advanced-guide"
        }}
        {{ partial "cards/guide.html" $content }}
      {{ end }}
    </div>
  </section>
</div>
