{{ $role := .Page.Parent.Params.role }}

<div class="py-10 xl:py-14 bg-no-repeat bg-cover" style="background-image: url('/theme-assets/jobs/{{ lower .Title }}_gearing_background.png');">
  <div class="container mx-auto">
    <div class="role-header mb-8">Gearing</div>
    <section class="grid xl:grid-cols-12 gap-6 xl:gap-8">
      <div class="xl:col-span-8">
        {{ with .Page.GetPage "best-in-slot"}}
          {{ $content := dict
            "role" $role
            "icon" "/theme-assets/armoury.svg"
            "name" "Best-in-slot (BIS) Gear Sets"
            "patch" .Params.patch
            "updated" (time.Format "2 Jan, 2006" .Params.lastmod)
            "bis" .Params.bis
            "readMoreText" "View all gear sets"
            "readMoreLink" "best-in-slot"
          }}
          {{ partial "cards/bis_table.html" $content }}
        {{ end }}
      </div>
      <div class="xl:col-span-4 text-white">
        {{ with .Page.GetPage "stat-priority" }}
          {{ $content := dict
            "role" $role
            "icon" "/theme-assets/materia.svg"
            "name" "Stats & Materia"
            "text" .Params.priority
            "readMoreText" "Why this priority?"
            "readMoreLink" "stat-priority"
          }}
          {{ partial "cards/default.html" $content }}
        {{ end }}
      </div>
    </section>
  </div>
</div>
