{{ $role := .Page.Parent.Params.role }}
{{ $job := .Params.job_name }}

<div class="h-60 xl:h-80">
  <div class="responsive-container z-10 relative flex items-center h-full">
    <div class="flex items-left md:items-center flex-col md:flex-row">
      <img class="job-icon-header mr-16 filter drop-shadow-lg-{{ $role }}" src="/theme-assets/jobs/{{ (lower $role) }}/{{ (lower $job) }}/{{ (lower $job) }}.svg" />
      <h1 class="text-5xl md:text-6xl font-semibold filter drop-shadow-lg-{{ $role }} mb-0">{{ .Title }}</h1>
    </div>
  </div>
  <div class="bg-gray-600 absolute top-0 left-0 w-full -z-1" style="height: 460px;">
    <img class="object-cover w-full h-full" src="/theme-assets/jobs/{{ (lower $role) }}/{{ (lower $job) }}/{{ (lower $job) }}_background.png" />
  </div>
</div>
