{{ $role := .Page.Parent.Params.role }}
{{ $job := .Params.job_name }}

<div class="h-36 xl:h-80">
  <div class="responsive-container z-10 relative flex items-center h-full">
    <div class="flex items-center md:items-center flex-row w-full mt-0 md:mt-16 md:mb-12 lg:mb-0 lg:mt-0">
      <div>
        <img class="job-icon-header mr-4 xl:mr-8 filter drop-shadow-lg-{{ $role }}" src="/theme-assets/jobs/{{ (lower $role) }}/{{ (lower $job) }}/{{ (lower $job) }}.svg" />
      </div>
      <h1 class="text-4xl md:text-5xl xl:text-6xl font-semibold filter drop-shadow-lg-{{ $role }} mb-0">{{ .Title }}</h1>
    </div>
  </div>
  <div 
    class="bg-gray-600 absolute top-0 left-0 w-full -z-1 h-96 md:h-72 xl:h-112 xl:mt-16 bg-bottom md:bg-top bg-cover" 
    style="background-image: url(/theme-assets/jobs/{{ (lower $role) }}/{{ (lower $job) }}/{{ (lower $job) }}_background.png);">
  </div>
</div>
