{{ $role := .Page.Parent.Params.role }}

<div class="container mx-auto">
  <div class="w-full flex flex-row mb-8">
    <div class="role-header">{{ .Page.Params.job_name }} Resources</div>
    <div class="text-right flex-grow self-end">
      <a class="link" href="{{ .Page.Permalink }}">Go to {{ .Page.Params.job_name }} page »</a>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-9">
    <div class="col-span-6">
      <div class="divide-y divide-card-dark">
        <div class="bg-card-light p-4">
          <p class="card-title">
            Guides
          </p>
        </div>
        <div>
          <div class="card card-{{ $role }}">
            <div class="grid grid-cols-3 gap-3">
              {{ partial "job/widgets/guides_list.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-6">
      {{ partial "job/widgets/external_tools.html" (dict "role" $role) }}
    </div>
  </div>
</div>
