<div class="h-60 xl:h-80 bg-no-repeat bg-cover" style='background-image: url(/theme-assets/jobs/{{ lower .job }}_background.png);'>
  <div class="container mx-auto z-10 relative flex items-center h-full">
    <div class="grid grid-cols-12 gap-8 w-full items-center">
        <div class="col-span-9 text-white">
          <div class="flex items-center mb-7">
            <img class="job-icon-sm mr-4 filter drop-shadow-lg-{{ .role }}" src='{{ print "/theme-assets/jobs/" (lower .job) ".svg" }}' />
            <div class="card-title filter drop-shadow-lg-{{ .role }}">{{ .job }}</div> 
          </div>
          <div>
            <div class="flex items-center mb-3">
              {{ with .icon }}
                <img class="inline mr-8 filter drop-shadow-lg-{{ $.role }}" src="{{ . }}" />
              {{ end }}
              <div class="font-bold filter drop-shadow-lg-{{ .role }} text-6xl">{{ .title }}</div>
            </div>
            {{ with .description }}
              <div class="filter drop-shadow-lg-{{ $.role }}">{{ . }}</div>
            {{ end }}
          </div>
        </div>
        <div class="col-span-3 bg-card-light text-white divide-y divide-page px-5">
            <div class="card-title pt-5 pb-4">Guide Info</div>
            <div class="py-3 space-y-2 text-gray-light font-bold">
                <div>Last Updated: {{ (time.Format "2 Jan, 2006" .lastmod) }}</div>
                <div>Patch Applicable: {{ .patch }}</div>
            </div>
            <div class="py-4 text-right">
              <a href="#" class="link">Jump to recent changes »</a>
            </div>
        </div>
    </div>
  </div>
</div>
