<div class="h-112 lg:h-96 xl:h-80 bg-no-repeat bg-cover" style='background-image: url(/theme-assets/jobs/{{ lower .role }}/{{ .job }}/{{ .job }}_background.png);'>
  <div class="responsive-container z-10 relative flex items-center h-full mt-4 lg:mt-0">
    <div class="grid grid-cols-12 lg:gap-8 w-full items-center mt-8 lg:mt-0">
        <div class="col-span-12 lg:col-span-9 text-white container h-full flex flex-wrap content-center mb-3">
          <div class="flex items-center mb-7 w-full">
            <a href="{{ .pageContext.Parent.Permalink }}" class="flex flex-row items-center" >
              <img class="job-icon-sm mr-4 filter drop-shadow-lg-{{ .role }}" src='{{ print "/theme-assets/jobs/" (lower .role) "/" (lower .job) "/" (lower .job) ".svg" }}' />
              <div class="!text-3xl card-title filter drop-shadow-lg-{{ .role }}">{{ .jobTitle }}</div> 
            </a>
          </div>
          <div>
            <div class="flex items-center mb-4">
              {{ with .icon }}
                <img class="job-icon-header inline mr-4 xl:mr-8 filter drop-shadow-lg-{{ $.role }}" src="{{ . }}" />
              {{ end }}
              <div class="font-bold filter drop-shadow-lg-{{ .role }} text-3xl md:text-4xl xl:text-5xl md:text-nowrap">{{ .title }}</div>
            </div>
            {{ with .description }}
              <div class="filter drop-shadow-lg-{{ $.role }} mb-4">{{ . }}</div>
            {{ end }}
          </div>
        </div>
        <div class="guide-info-container">
            <div class="card-title pt-5 pb-4">Guide Info</div>
            <div class="py-3 space-y-2 text-gray-light font-bold">
                <div>Last Updated: {{ (time.Format "2 Jan, 2006" .lastmod) }}</div>
                <div>Patch Applicable: {{ .patch }}</div>
            </div>
            <div class="py-4 text-right">
              <a href="#" class="link">Jump to recent changes »</a>
            </div>
        </div>
    </div>
  </div>
</div>
