@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* Global
 */

body {
	@apply font-sans text-white;
	background-color: #222528;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


/*
Header/Navbar
 */

header,
.general-page-bg {
	background-image: url("/theme-assets/homepage/endwalker@2x.png");
	height: 500px;
}
header::after,
.general-page-bg:after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #0E263D;
	opacity:0.65;
	z-index:-1;
}

header nav {
	@apply font-head;
}

.navbar {
	height: 80px;
	background: #000000;
	opacity: 1;
}

.navbar-container {
	@apply container mx-auto;
	height: 100%;
}
/**
Link
 */

 .orange-link {
	 @apply text-link-orange font-bold tracking-wide;
 }


/**
Heading
 */

 .section-head {
	@apply h-shadow flex-grow text-4xl font-head tracking-wider uppercase font-bold;
}


/**
Table of Contents
 */

nav#TableOfContents ul a + ul {
	padding-left: 1em;
}


/**
Content
 */

#content {
}

/*
  Jobs List
*/

.role-header,
.role-header-healers,
.role-header-tanks,
.role-header-melee,
.role-header-ranged,
.role-header-casters {
	@apply font-bold text-white text-4xl filter uppercase font-head tracking-wider;
}

.role-header {
	@apply drop-shadow-lg;
}

.role-header-healers {
    @apply drop-shadow-lg-healers;
}

.role-header-tanks {
    @apply drop-shadow-lg-tanks;
}

.role-header-melee {
    @apply drop-shadow-lg-melee;
}

.role-header-ranged {
    @apply drop-shadow-lg-ranged;
}

.role-header-casters {
    @apply drop-shadow-lg-casters;
}

.role-info {
	@apply flex flex-col w-4/12 text-center justify-center;
}

/*
* TABS
*/
.tabbed {
	@apply overflow-x-hidden my-4 pb-2;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	@apply hidden;
}

.tabs {
	@apply flex items-stretch font-head p-0 list-none flex-col sm:flex-row divide-x divide-card-dark border-b border-card-dark;
}
.tabs-desktop {
	@apply hidden sm:flex items-stretch p-0 list-none flex-col sm:flex-row;
}

.tab > label {
	@apply block sm:hidden px-3 py-3 cursor-pointer;
	margin-bottom: -1px;
	font-size: 1.5rem; 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.3s;
	background: #1E1E1F;
	border-right: 2px solid #141415;
}

.tab.desktop > label {
	@apply hidden sm:block;
}


.tab > label.selected {
	@apply bg-card-light;
	border-bottom: none;
}

.tab > label {
	@apply block px-7 py-3 cursor-pointer text-xl font-bold text-white uppercase tracking-widest bg-card-lighter transition-all;
}

.tab-content {
	@apply hidden p-8;
}

.tab-jobs {
	@apply block w-full sm:w-1/2 sm:flex-grow sm:flex items-center p-4 justify-evenly font-head;
}

.tab-jobs img {
	@apply mb-2;
	height:50px;
}

/*
This is honestly a dirty, very bad, no good hack, but it does make the tabs nice
It unfortunately also means we're limited to 5 tabs at current.
*/
/* this is styling for tabs that are checked */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
	@apply bg-card-light;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs > .tab:nth-of-type(1) > .tab-content,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs > .tab:nth-of-type(2) > .tab-content,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs > .tab:nth-of-type(3) > .tab-content,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs > .tab:nth-of-type(4) > .tab-content,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs > .tab:nth-of-type(5) > .tab-content {
	@apply block bg-card-light flex content-center md:h-96;
}

#meta-slider {
	@apply flex-col h-auto;	
}

/*
  Card
*/

.card-title {
    @apply font-bold text-white text-lg uppercase tracking-widest font-head;
}

.card-content {
	@apply flex flex-row font-sans gap-3;
	border-color: #2a3641;
}

.card-content-title {
	@apply font-bold text-white text-lg pt-3 pr-3;
}

.card-content-patch {
	@apply font-bold text-card-header-text-color;
}

.card-content-updated {
	@apply font-bold text-card-header-text-color pb-3;
}
.card-flex-col-wrapper{
	@apply flex flex-col divide-y-2 border-l-8 divide-line-divide-color border-card-border-color;
}

.extra-content{
	@apply text-white pl-3 pb-3;
}

.content-link{
	@apply text-right pt-1 pb-3 text-link-orange font-bold;
}

.extra-list-item{
	@apply py-1.5;
}

.extra-list-item a{
	@apply text-link-orange font-semibold;
}

.bis-item {
	@apply text-link-orange font-semibold;
}

.link {
    @apply text-link-orange font-semibold hover:underline;
}

.nested-link a {
    @apply link;
}

/**
Footer
 */


.footer {
	@apply bg-card-light;
}

.footer a {
	color: #FF9956;
	font-size: 17px;
}

.footer a:hover {
	text-decoration: underline;
}

.footer ul li {
	padding: .1em 0;
}

.footer-header {
	@apply text-white font-head;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}

.footer-copyright {
	@apply text-center text-sm font-light;
	color: #8f99a4;
}

.guide-banner-background{
    @apply w-full bg-cover;
    background-repeat: no-repeat;
    /*height: 309px; /* need a better way than fixing it to the size of the image */
}

.job-icon-sm {
    height: 35px;
    width: 35px;
}

.job-icon-lg {
    width: 150px;
    height: 150px;
}

.h-shadow {
  color: white;
  text-shadow: 2px 2px 2px #222;
}

.join-community {
	background-image: url("/theme-assets/homepage/join-community.png");
}

/**
Markdown - Can be used to auto apply styling to tags within the .markdown class
 */

.markdown {
    @apply text-base text-gray-light;
}

.markdown h1 {
    @apply text-4xl font-bold text-white flex items-center;
}

.markdown h1:after {
    @apply bg-page ml-5;
    flex: 1 0 0%;
    content: '';
    width: 100%;
    height: 1px;
}

.markdown h2 {
    @apply text-2xl font-bold text-white flex items-center uppercase;
	letter-spacing: 2px;
}

.markdown h3 {
    @apply text-xl font-bold text-white uppercase font-head;
	letter-spacing: 2.25px;
}

.markdown p, h1, h2, h3, ol {
    @apply mb-8;
}

.markdown h1:not(:first-child) {
	@apply mt-11;
}

.markdown ol {
    @apply list-decimal pl-10 space-y-2 mb-8;
}

.markdown ul {
	@apply list-disc pl-10 space-y-2 mb-8;
}

.markdown a {
	@apply text-link-orange;
}

.markdown table > thead > tr > th:empty {
	display:none;
}

.markdown table > thead {
	@apply text-link-orange text-left font-bold text-lg bg-card-dark;
}

.markdown table > thead > tr > th {
	@apply px-4 py-2; 
}

.markdown table > tbody > tr > td,
.markdown table > thead > tr > td {
	@apply px-4 py-2 border-table-divider-color border-r;
}

.markdown table > tbody > tr > td:last-of-type,
.markdown table > thead > tr > td:last-of-type {
	@apply border-r-0;
}

.markdown table > tbody > tr:nth-of-type(odd) {
	@apply bg-table-light;
}
