@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* Global
 */

body {
  @apply font-sans text-white;
  background-color: #222528;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/*
*  Container (Mobile + Desktop)
*/
.responsive-container {
  @apply container px-4 lg:px-8 mx-auto;
}

/*
Header/Navbar
 */

header,
.general-page-bg {
  background-image: url("/theme-assets/homepage/endwalker@2x.png");
}
header::after,
.general-page-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e263d;
  opacity: 0.65;
  z-index: -1;
}

header nav {
  @apply font-head;
}

.navbar {
  height: 80px;
  background: #000000;
  opacity: 1;
}

.navbar-container {
  @apply container mx-auto;
  height: 100%;
}

ul.nav-item li ul.nav-dropdown {
  @apply lg:invisible lg:opacity-0 lg:absolute transition-all delay-75 left-0 mt-1 hidden;
}

div.right-dropdown ul.nav-item li ul.nav-dropdown {
  right: 0;
  left: auto !important;
}

ul.nav-item li:hover > ul.nav-dropdown,
ul.nav-item li ul:hover {
  @apply lg:visible lg:opacity-100 lg:block;
}

ul.nav-item li ul.nav-dropdown li {
  clear: both;
  width: 100%;
}

/**
Link
 */

.orange-link {
  @apply text-link-orange font-bold tracking-wide;
}

/**
Heading
 */

.section-head {
  @apply h-shadow flex-grow text-4xl font-head tracking-wider uppercase font-bold;
}

.nav-item {
  font-size: 16px;
}

.responsive-container.mobile-menu {
  @apply bg-card-light px-0 mx-0 lg:hidden w-full;
  max-width: 100%;
}

.mobile-menu > ul > li {
  @apply border-t border-nav-border text-lg lg:border-none px-4 sm:px-8;
}

.mobile-menu > ul > li.nav-active,
.mobile-menu > ul > li.nav-active > a {
  @apply border-link-orange text-link-orange;
}

.mobile-menu > ul > li > .chevron {
  background-image: url("/theme-assets/chevron-down.svg");
  background-position: right 50%;
  background-repeat: no-repeat;
}

.mobile-menu > ul > li.nav-active > .chevron {
  background-image: url("/theme-assets/chevron-up.svg");
}

/**
Table of Contents
 */

nav#TableOfContents ul a + ul {
  padding-left: 1.5em;
  max-height: 0;
  overflow: hidden;
  display: block;
  transition: max-height 0.4s;
}

nav#TableOfContents ul a + ul.active {
  max-height: 1000px;
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  transition: max-height 1s;
}

nav#TableOfContents a {
  font-size: 0.925rem;
}

nav#TableOfContents a.active {
  color: white;
}

/**
Modal markdown images
 */

.md__image {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  padding-top: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1400px;
}

.modal-pic {
  display: flex;
  align-content: center;
  cursor: pointer;
}

/* The Close Button */
/* Optimized for accessibility by using a button named close but 	
	shifting the close text out of the button and only showing x */
.modal-close {
  color: white;
  background-color: black;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  font-weight: bold;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
}

.modal-close::after {
  position: absolute;
  line-height: 0.5;
  top: 0.2em;
  left: 0.1em;
  text-indent: 0;
  content: "\00D7";
}

.modal-close:hover,
.modal-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/**
Content
 */

/* tables */
#content table td img {
  min-width: 3rem;
}

#content .codeblock {
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: scroll;
}

#content table {
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  border: 2px solid #2a2a2a;
  border-collapse: collapse;
  width: 100%;
}

#content table tr {
  padding: 0.35em;
}

#content table th,
#content table td {
  padding: 0.625em;
  text-align: center;
}

#content table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #content table,
  #content .codeblock {
    overflow-x: auto;
  }
}

/*
  Jobs List
*/

.role-header,
.role-header-healers,
.role-header-tanks,
.role-header-melee,
.role-header-ranged,
.role-header-casters {
  @apply font-bold text-white text-2xl md:text-4xl filter uppercase font-head tracking-wider;
}

.role-header {
  @apply drop-shadow-lg;
}

.role-header-healers {
  @apply drop-shadow-lg-healers;
}

.role-header-tanks {
  @apply drop-shadow-lg-tanks;
}

.role-header-melee {
  @apply drop-shadow-lg-melee;
}

.role-header-ranged {
  @apply drop-shadow-lg-ranged;
}

.role-header-casters {
  @apply drop-shadow-lg-casters;
}

.role-info {
  @apply flex flex-col w-full lg:w-4/12 xl:w-1/4 text-center justify-center;
}

/*
* TABS
*/
.tabbed {
  @apply overflow-x-hidden my-4 pb-2 -mt-16;
}

.tabbed [type="radio"] {
  /* hiding the inputs */
  @apply hidden;
}

.tabs {
  @apply flex items-stretch font-head p-0 list-none flex-col md:flex-row border-b border-card-light;
}

.tab-jobs {
  @apply items-center block md:flex md:flex-wrap md:flex-grow w-full lg:w-1/2 md:justify-evenly font-head mt-4 lg:mt-0;
}

.tabs.desktop {
  @apply hidden md:flex items-stretch p-0 list-none flex-col md:flex-row divide-x divide-card-dark md:divide-x-0;
}

.tab.desktop > label {
  @apply hidden md:block border-card-dark border-r border-b;
}
.tab.desktop:first-of-type > label {
  @apply border-l;
}

.tab > label {
  @apply block md:hidden px-7 py-3 cursor-pointer text-xl font-bold text-white uppercase tracking-widest bg-card-lighter transition-all;
}

.tab-content {
  @apply hidden p-4 md:p-8;
}

.tab-job-container {
  @apply flex flex-col w-auto py-3 md:w-1/2 xl:w-auto justify-center items-start md:items-center;
}

.tab-job-link {
  @apply flex flex-row items-center w-full md:flex-col md:text-center py-1 md:px-4 md:py-6 md:rounded md:transition-all;
}

.meta-tabs {
  @apply flex-col;
}

.meta-tab {
  @apply w-full;
}

.meta-tabs > .meta-tab > label {
  @apply border-r-0 border-card-dark border-t-2;
}

.tab-content.meta-content {
  @apply hidden bg-card-dark px-8 py-8 w-full flex-col items-start;
}

/*
This is honestly a dirty, very bad, no good hack, but it does make the tabs nice
It unfortunately also means we're limited to 5 tabs at current.
*/

#content .meta-content {
  /* force .meta-content to not obey the h-120 below. */
  @apply h-auto;
}

/* this is styling for tabs that are checked */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed
  [type="radio"]:nth-of-type(5):checked
  ~ .tabs
  .tab:nth-of-type(5)
  label {
  @apply bg-card-light border-card-dark md:border-r;
  border-bottom-color: #19191a;
}

.tabbed
  [type="radio"]:nth-of-type(1):checked
  ~ .tabs
  > .tab:nth-of-type(1)
  > .tab-content,
.tabbed
  [type="radio"]:nth-of-type(2):checked
  ~ .tabs
  > .tab:nth-of-type(2)
  > .tab-content,
.tabbed
  [type="radio"]:nth-of-type(3):checked
  ~ .tabs
  > .tab:nth-of-type(3)
  > .tab-content,
.tabbed
  [type="radio"]:nth-of-type(4):checked
  ~ .tabs
  > .tab:nth-of-type(4)
  > .tab-content,
.tabbed
  [type="radio"]:nth-of-type(5):checked
  ~ .tabs
  > .tab:nth-of-type(5)
  > .tab-content {
  @apply flex bg-card-light content-center xl:h-120;
}

#meta-slider {
  @apply flex-col h-auto;
}

/*
  Card
*/

.card-title {
  @apply font-bold text-white text-lg uppercase tracking-widest font-head;
}

.card-content {
  @apply flex flex-row font-sans gap-3;
  border-color: #2a3641;
}

.card-content-title {
  @apply font-bold text-white text-lg pt-3 pr-3;
}

.card-content-patch {
  @apply font-bold text-card-header-text-color;
}

.card-content-updated {
  @apply font-bold text-card-header-text-color pb-3;
}
.card-flex-col-wrapper {
  @apply flex flex-col divide-y-2 border-l-8 divide-line-divide-color border-card-border-color;
}

.extra-content {
  @apply text-white pl-3 pb-3;
}

.content-link {
  @apply text-right pt-1 pb-3 text-link-orange font-bold;
}

.extra-list-item {
  @apply py-1.5;
}

.extra-list-item a {
  @apply text-link-orange font-semibold;
}

.bis-item {
  @apply text-link-orange font-semibold;
}

.link {
  @apply text-link-orange font-semibold hover:underline;
}

.nested-link a {
  @apply link;
}

/**
Footer
 */

.footer {
  @apply bg-card-light z-50 mt-auto;
}

.footer a {
  @apply text-link-orange;
  font-size: 17px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul li {
  padding: 0.1em 0;
}

.footer-header {
  @apply text-white font-head mb-0 pb-1 font-bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.footer-list {
  @apply mb-8;
}

.footer-copyright {
  @apply text-center text-sm font-light;
  color: #8f99a4;
}

.guide-banner-background {
  @apply w-full bg-cover;
  background-repeat: no-repeat;
  /*height: 309px; /* need a better way than fixing it to the size of the image */
}

.job-icon-sm {
  height: 35px;
  width: 35px;
}

.job-icon-header {
  width: 60px;
  height: 60px;
}

@screen md {
  .job-icon-header {
    width: 100%;
    height: 100%;
  }
}

.h-shadow {
  color: white;
  text-shadow: 2px 2px 2px #222;
}

.join-community {
  background-image: url("/theme-assets/homepage/join-community.png");
}

/**
Various Containers
*/
.guide-info-container {
  @apply col-span-12 lg:col-span-3 bg-card-light text-white divide-y divide-page px-5 mb-6 md:mb-0;
}
.job-guides-container {
  @apply col-span-12 lg:col-span-9 bg-card-light text-white py-8 md:py-14 px-8 md:px-14 lg:px-20 xl:px-28;
}
.table-of-contents-container {
  @apply col-span-12 lg:order-last lg:sticky lg:col-span-3 bg-card-light text-white divide-y divide-page px-5 md:top-8 mt-8 mb-8 md:mt-0 md:mb-0;
}

/**
Markdown - Can be used to auto apply styling to tags within the .markdown class
 */

.markdown {
  @apply text-gray-light text-lg;
}

.markdown h1 {
  @apply text-4xl font-bold text-white flex items-center;
}

.markdown h1:after {
  @apply bg-page ml-5;
  flex: 1 0 0%;
  content: "";
  width: 100%;
  height: 1px;
}

.markdown h2 {
  @apply text-2xl font-bold text-white flex items-center uppercase;
  letter-spacing: 2px;
}

.markdown h3 {
  @apply text-xl font-bold text-white uppercase font-head;
  letter-spacing: 2.25px;
}

.markdown h4 {
  @apply text-base font-bold text-white uppercase tracking-widest mb-6 font-head;
}

.markdown p,
h1,
h2,
h3,
ol {
  @apply mb-8;
}

.markdown h1:not(:first-child) {
  @apply mt-11;
}

.markdown h2:not(:first-child) {
  @apply mt-8;
}

.markdown ol {
  @apply list-decimal pl-10 space-y-2 mb-8;
}

.markdown ul {
  @apply list-disc pl-10 space-y-2 mb-8;
}

.markdown ul ul,
.markdown ul ol,
.markdown ol ul,
.markdown ol ol {
  margin-bottom: 0;
}

.markdown a {
  @apply text-link-orange;
}

.markdown hr {
  @apply mb-8;
}

.markdown table > thead > tr > th:empty {
  display: none;
}

.markdown table > thead {
  @apply text-link-orange text-left font-bold text-lg bg-card-dark;
}

.markdown table > thead > tr > th {
  @apply px-4 py-2;
}

.markdown table > tbody > tr > td,
.markdown table > thead > tr > td {
  @apply px-4 py-2 border-table-divider-color border-r;
}

.markdown table > tbody > tr > td:last-of-type,
.markdown table > thead > tr > td:last-of-type {
  @apply border-r-0;
}

.markdown table > tbody > tr:nth-of-type(odd) {
  @apply bg-table-light;
}

.markdown blockquote {
  border-left: 4px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.markdown blockquote p {
  display: inline;
}

/* shortcode additions */
.markdown .image-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
