@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* Global
 */

body {
	@apply text-white;
	background-color: #222528;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


/*
Header/Navbar
 */

header {
	background-image: url("/theme-assets/homepage/endwalker@2x.png");
	height: 500px;
}
header::after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #0E263D;
	opacity:0.65;
	z-index:-1;
}

.navbar {
	height: 80px;
	background: #000000;
	opacity: 1;
}

.navbar-container {
	@apply container mx-auto;
	height: 100%;
}

.nav-item {
	font-size: 16px;
}

/**
Content
 */

#content {
}

/*
  Jobs List
*/

.role-header {
	@apply font-bold text-white text-4xl pb-5 filter drop-shadow-lg;
	text-transform: uppercase;
}


/*
* TABS
*/
.tabbed {
	@apply overflow-x-hidden my-4 pb-2 -mt-44;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	@apply hidden;
}

.tabs {
	@apply flex items-stretch p-0 list-none;
}
.tab > label {
	@apply block px-3 py-3 cursor-pointer;
	margin-bottom: -1px;
	font-size: 1.5rem; 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.3s;
	background: #1E1E1F;
	border-right: 2px solid #141415;
}

.tab > label.selected {
	@apply bg-card-light;
	border-bottom: none;
}

.tab:last-of-type > label{
	border-right:none;
}

/* .tab:hover label {
	border-top-color: #333;
} */

.tab-content {
	@apply hidden p-8;
}

.tab-jobs {
	@apply flex-grow w-1/2 flex items-center p-4;
}

.tab-jobs img {
	@apply mb-2;
	height:50px;
}

/*
This is honestly a dirty, very bad, no good hack, but it does make the tabs nice
It unfortunately also means we're limited to 5 tabs at current.
*/
/* this is styling for tabs that are checked */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
	@apply bg-card-light;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5) {
	@apply block bg-card-light;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .meta-tab:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .meta-tab:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .meta-tab:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .meta-tab:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .meta-tab:nth-of-type(5) {
	background-color:#192129;
}

/*
w-1/5 is just being used for testing without a layout
*/
.card {
	@apply flex flex-col;
}

.card-content {
	@apply flex flex-row font-sans gap-3;
	border-color: #2a3641;
}

.card-content-border {
	@apply border-l-8 pl-3 pt-6;
	border-color: #3871c2;
}
.card-content-border-no-info {
	@apply pt-3 pb-3;
	border-color: #3871c2;
}

.card-content-title {
	@apply font-bold text-white text-lg pt-3 pr-3;
}

.card-content-patch {
	@apply font-bold text-card-header-text-color;
}

.card-content-updated {
	@apply font-bold text-card-header-text-color pb-3;
}
.card-flex-col-wrapper{
	@apply flex flex-col divide-y-2 border-l-8 divide-line-divide-color border-card-border-color;
}

.extra-content{
	@apply text-white pl-3 pb-3;
}

.content-link{
	@apply text-right pt-1 pb-3 text-link-orange font-bold;
}

.extra-list-item{
	@apply py-1.5;
}

.extra-list-item a{
	@apply text-link-orange font-semibold;
}

.bis-item {
	@apply text-link-orange font-semibold;
}

.link {
    @apply text-link-orange font-semibold hover:underline;
}

.nested-link a {
    @apply link;
}

/**
Footer
 */


.footer {
	@apply bg-card-light mt-24;
}

.footer a {
	color: #FF9956;
	font-size: 17px;
}

.footer a:hover {
	text-decoration: underline;
}

.footer ul li {
	padding: .1em 0;
}

.footer-header {
	@apply text-white;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}

.footer-copyright {
	@apply text-center text-sm font-light;
	color: #8f99a4;
}

.guide-banner-background{
    @apply w-full bg-cover;
    background-repeat: no-repeat;
    /*height: 309px; /* need a better way than fixing it to the size of the image */
}

.job-icon-sm {
    height: 35px;
    width: 35px;
}

.job-icon-lg {
    width: 150px;
    height: 150px;
}

.h-shadow {
  color: white;
  text-shadow: 2px 2px 2px #222;
}

.join-community {
	background-image: url("/theme-assets/homepage/join-community.png");
}
