<footer class="footer">
  <div class="responsive-container mt-16">
    <img src="/theme-assets/the_balance.png" />
    <div class="flex flex-wrap md:flex-row lg:flex-nowrap mt-16">
      {{ range .Site.Menus.main }}
        <div class="flex flex-col w-1/2 sm:w-1/3">
          <h3 class="footer-header pb-1 font-bold">
            {{ .Name }}
          </h3>
          {{ if .HasChildren }}
              <ul>
              {{ range .Children}}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
              </ul>
          {{ end }}
        </div>
      {{ end }}
      {{/* Extra menus for footer */}}
      {{ range .Site.Menus.footer }}
        <div class="flex-auto">
          <h3 class="footer-header pb-1 font-bold">
            {{ .Name }}
          </h3>
          {{ if .HasChildren }}
              <ul>
              {{ range .Children}}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
              </ul>
          {{ end }}
        </div>
      {{ end }}
    </div>
    {{ if .Site.Params.copyrightMessage }}
      <div class="py-5 footer-copyright">
        {{ .Site.Params.copyrightMessage}}
      </div>
    {{ end }}
  </div>
</footer>
