<footer class="footer">
  <div class="responsive-container mt-16">
    <img src="/theme-assets/the_balance.png" />
    <div class="flex flex-wrap md:flex-row lg:flex-nowrap mt-16">
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <div class="flex flex-col w-1/2 sm:w-1/3">
          <h3 class="footer-header">
            {{ .Name }}
          </h3>
          <ul class="footer-list">
            {{ range .Children}}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      {{ end }}
      {{/* Extra menus for footer */}}
      {{ range .Site.Menus.footer }}
        {{ if .HasChildren }}
        <div class="flex-auto">
          <h3 class="footer-header">
            {{ .Name }}
          </h3>
          <ul class="footer-list">
            {{ range .Children}}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      {{ end }}
    </div>
    {{ if .Site.Params.copyrightMessage }}
      <div class="py-5 footer-copyright">
        {{ .Site.Params.copyrightMessage}}
      </div>
    {{ end }}
  </div>
</footer>
