<footer class="footer">
  <div class="container mx-auto">
    <h2>The Balance</h2>
    <div class="flex ">
      {{ range .Site.Menus.main }}
        <div class="flex-auto">
          <h3 class="footer-header pb-1">
            {{ .Name }}
          </h3>
          {{ if .HasChildren }}
              <ul>
              {{ range .Children}}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
              </ul>
          {{ end }}
        </div>
      {{ end }}
      {{/* Extra menus for footer */}}
      {{ range .Site.Menus.footer }}
        <div class="flex-auto">
          <h3 class="footer-header pb-1">
            {{ .Name }}
          </h3>
          {{ if .HasChildren }}
              <ul>
              {{ range .Children}}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
              </ul>
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="py-5 footer-copyright">
      Copyright Here
    </div>
  </div>
</footer>
