{{ $current := . }}
{{ $list := .Site.Menus.main | append .Site.Menus.header }}
<nav class="fixed w-full lg:relative bg-card-light z-50">
  <div class="responsive-container px-4 lg:px-0">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <!-- Website Logo -->
          <a href="/" class="flex items-center py-4">
            <div class="flex flex-row items-center">
              <img src="/theme-assets/the_balance_icon.svg" class="mr-2 h-5 lg:h-8" alt="The Balance Icon" />
              <img src="/theme-assets/the_balance.svg" class="h-3 lg:h-5" alt="The Balance" />
            </div>
          </a>
        </div>
      </div>
      <!-- Navbar items -->
      <div class="hidden lg:flex items-center space-x-3 my-4 right-dropdown">
        {{ range $list }}
          {{ if .HasChildren }}
            {{ partial "nav_item.html" . }}
          {{ end }}
        {{ end }}
      </div>
      <!-- Mobile menu button -->
      <div class="lg:hidden flex items-center">
        <button class="outline-none mobile-menu-button">
          <svg class="w-6 text-link-orange hover:opacity-75"
               x-show="!showMenu"
               fill="none"
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               viewBox="0 0 24 24"
               stroke="currentColor"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="hidden responsive-container mobile-menu">
    <ul>
      {{ range $list }}
        {{ if .HasChildren }}
        <li>
          <a
            href="{{ .URL }}"
            class="block text-sm px-6 py-4 text-white font-semibold {{ if eq $current.URL .URL }}text-link-orange{{ end }}"
            title="{{ .Title }}"
          >
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>
<div class="mt-8 lg:mt-0 block"></div>
