{{ $current := . }}
{{ $list := .Site.Menus.main | append .Site.Menus.header }}
<nav class="bg-black z-50">
  <div class="container mx-auto px-2 md:px-0">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <!-- Website Logo -->
          <a href="/" class="flex items-center py-4">
            <span class="font-semibold text-lg">The Balance</span>
          </a>
        </div>
      </div>
      <!-- Navbar items -->
      <div class="hidden md:flex items-center space-x-3 ">
        {{ range $list }}
        <a
          href="{{ .URL }}"
          class="py-4 px-2 font-semibold text-white hover:opacity-75 {{ if eq $current.URL .URL }} text-link-orange {{ end }}"
          title="{{ .Title }}"
        >
          {{ .Name }}
        </a>
        {{ end }}
      </div>
      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button class="outline-none mobile-menu-button">
          <svg class=" w-8 h-8 text-link-orange hover:opacity-75 "
               x-show="!showMenu"
               fill="none"
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               viewBox="0 0 24 24"
               stroke="currentColor"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="hidden mobile-menu">
    <ul class="">
      {{ range $list }}
        <li>
          <a
            href="{{ .URL }}"
            class="block text-sm px-2 py-4 text-white font-semibold {{ if eq $current.URL .URL }}text-link-orange{{ end }}" title="{{ .Title }}"
          >
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
