{{ $current := . }}
{{ $list := .Site.Menus.main | append .Site.Menus.header }}
  <nav role="navigation" class="fixed lg:absolute top-0 left-0 w-full z-50 bg-card-light lg:bg-transparent">
    <div class="responsive-container">
      <div class="flex justify-center">
        <!-- Navbar items -->
        <div class="hidden lg:flex items-center space-x-3 my-4">
          {{ range $list }}
          <ul class="nav-item">
            <li class="block transition-all duration-75 relative">
              <a href="{{ .URL | urlize }}"
                 class="py-2 px-4 font-semibold text-xl text-white hover:text-link-orange border-b-2 border-link-orange border-opacity-0 hover:border-opacity-100"
                 title="{{ .Title }}">
                {{ .Name }}
              </a>
              {{ if .HasChildren }}
              <ul class="nav-dropdown py-2">
                <li>
                  <div class="flex items-start bg-card-light py-6">
                    {{ range .Children }}
                    <div class="mx-6">
                      <p class="text-link-orange font-bold tracking-wide mb-1">{{ .Name }}</p>
                      {{ range .Children }}
                        <a href="{{ .URL }}" class="block font-semibold hover:text-link-orange mb-1">
                          {{ htmlUnescape (replace .Name " " "&nbsp;") }}
                        </a>
                      {{ end }}
                    </div>
                    {{ end }}
                  </div>
                </li>
              </ul>
              {{ end }}
            </li>
          </ul>
          {{ end }}
        </div>
        <!-- Mobile menu button -->
        <div class="lg:hidden flex items-center bg-card-light w-full px-4 py-2">
          <button class="outline-none mobile-menu-button">
            <svg class="w-6 h-6 text-link-orange hover:opacity-75" x-show="!showMenu" fill="none" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- mobile menu -->
    <div class="hidden responsive-container mobile-menu">
      <ul class="">
        {{ range $list }}
        <li>
          <a href="{{ .URL }}"
            class="block text-sm px-6 py-3 text-white font-semibold {{ if eq $current.URL .URL }}text-link-orange{{ end }}"
            title="{{ .Title }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
  <div class="absolute top-16 left-0 w-full flex items-center justify-center my-20 z-10">
    <!-- Website Logo -->
    <a href="/" class="flex items-center px-10 sm:px-0 py-4">
      <img src="/theme-assets/the_balance.svg" alt="The Balance" class="w-96 lg:w-full" />
    </a>
  </div>
