{{ $borderClass := default "gray-600" (lower .role) }}
{{ $path := print "/content/jobs" "/" (lower .role) "/" (urlize (lower .jobData.name)) }}
{{ $indexPath := print $path "/_index.md" }}
{{ $advancedGuide := print $path "/advanced-guide.md" }}
{{ $basicGuide := print $path "/basic-guide.md" }}
{{ $bis := print $path "/best-in-slot.md" }}
{{ $faq := print $path "/faq.md" }}
{{ $jobChanges := print $path "/job-changes.md" }}
{{ $levelingGuide := print $path "/leveling-guide.md" }}
{{ $openers := print $path "/openers.md" }}
{{ $skillsOverview := print $path "/skills-overview.md" }}
{{ $statPriority := print $path "/stat-priority.md" }}

{{ $pages := slice
  $levelingGuide
  $basicGuide
  $advancedGuide
  $skillsOverview
  $openers
  $faq
  $bis
  $jobChanges
  $statPriority
}}

<div class="mt-0">
  <div class="flex flex-col w-full py-3 justify-center items-start">
    <div class="card card-{{ $borderClass }} space-y-3 w-full">
      {{ if isset .jobData "name" }}
        <div class="border-b border-card-dark pb-4">
          {{ partial "cards/job_card/_header.html" .jobData }}
        </div>
      {{ end }}
      <div class="min-h-36 flex items-center">
        {{ with .siteVar.GetPage $indexPath}}
          {{ .Content }}
        {{end}}
      </div>
      <div>
        <h4 class="uppercase tracking-widest border-t border-black my-4 pt-4">Guides</h4>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          {{ range $pages }}
            {{ with $.siteVar.GetPage . }}
              {{ if .Permalink }}
                <div>
                  <a href="{{ .Permalink }}" class="text-link-orange">{{ .Name }}</a>
                </div>
              {{ end }}
            {{ end }}
          {{ end}}
        </div>
      </div>
      {{ if isset .jobData "readMoreLink" }}
        {{ partial "cards/_footer.html" . }}
      {{ end }}
    </div>
  </div>
</div>
