{{ $savageNames := .Site.Data.encounter.savage.names }}
{{ $ultimateNames := .Site.Data.encounter.ultimate.names }}
<div class="flex flex-col">
  <div class="w-full">
    <div class="flex flex-row items-end">
      <h1 class="h-shadow flex-grow text-4xl uppercase font-bold">Savage Encounter Guides</h1>
      <a class="text-link-orange" href="#">See all encounter guides >></a>
    </div>
    <div class="flex flex-row mt-8">
      {{ range $savageName := $savageNames }}
        {{ $map := index $.Site.Data.encounter.savage $savageName }}
        {{ partial "homepage/encounters/card.html" $map }}
      {{ end }}
    </div>
  </div>
  <div class="w-full mt-24">
    <div class="flex flex-row items-end">
      <h1 class="h-shadow flex-grow text-4xl uppercase font-bold">Ultimate Encounter Guides</h1>
      <a class="text-link-orange" href="#">See all encounter guides >></a>
    </div>
    <div class="flex flex-row mt-8">
      {{ range $ultimateName := $ultimateNames }}
        {{ $map := index $.Site.Data.encounter.ultimate $ultimateName }}
        {{ partial "homepage/encounters/card.html" $map }}
      {{ end }}
    </div>
  </div>
</div>
