<div class="flex">
  <div class="w-1/2 mt-12 mr-6">
    <h1 class="h-shadow text-4xl font-bold uppercase">Latest Guides</h1>
    <div class="w-full mt-6 h-20 bg-card-dark-background-color">
      {{/* TODO: need a component for this – how to manage data? */}}
    </div>
  </div>
  <div class="w-1/2 mt-12">
    <h1 class="h-shadow text-4xl font-bold uppercase">Recently Updated</h1>
    <div class="w-full mt-6 h-20 bg-card-dark-background-color">
      {{/* TODO: need a component for this – how to manage data? */}}
    </div>
  </div>
</div>
