<div id="roleSlider" class="tabbed">
    {{ range $index, $role := sort .Site.Data.roles "order" }}
        <input type="radio" id="tab-{{ $role.name | urlize }}" name="css-tabs" {{ if eq $index 0 }}checked{{ end }}>
    {{ end }}
    
    <ul class="tabs">
        {{ range $role := sort .Site.Data.roles "order" }}
            <li class="tab flex-grow text-center">
              <label for="tab-{{ $role.name | urlize }}" class="border-l-4 lg:border-l-0 lg:border-t-4"
                style="border-top-color: {{ $role.color }};border-left-color: {{ $role.color }}">
                <div class="flex items-center justify-center">
                  <img class="inline-block mr-2" src="/theme-assets/icons/role/role_{{ $role.title | urlize }}.svg" alt="{{ $role.name }}" />
                  {{ $role.name }}
                </div>
              </label>
            </li>
        {{ end }}
    </ul>
    
    {{ range $role := sort .Site.Data.roles "order" }}
        {{ partial "homepage/role_slider/content.html" $role }}
    {{ end }}
</div>
