name: Pull Request Comment
on:  
  workflow_run:
    workflows: ["Pull Request Creation for layouts"]
    types:
      - completed

jobs:
  pr-comment:
    runs-on: ubuntu-20.04
    if: >
      ${{ github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: 'Download artifact'
        uses: actions/github-script@v7.0.1
        with:
          script: |
            var artifacts = await github.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: ${{github.event.workflow_run.id }},
            });
            var matchArtifact = artifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "screenshots"
            })[0];
            var download = await github.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            var fs = require('fs');
            fs.writeFileSync('${{github.workspace}}/screenshots.zip', Buffer.from(download.data));

      - run: unzip screenshots.zip

      - id: pr_nr
        run: |
          content=`cat ./PR_NR`
          echo "::set-output name=pr_number::$content"
      
      - name: Upload a 1920x1080 picture
        uses: devicons/public-upload-to-imgur@v2.2.2
        id: imgur_1920x1080
        with:
          path: ./*1920x1080* 
          client_id: ${{secrets.IMGUR_CLIENT_ID}} 

      - name: Upload a 1280x720 picture
        uses: devicons/public-upload-to-imgur@v2.2.2
        id: imgur_1280x720
        with:
          path: ./*1280x720* 
          client_id: ${{secrets.IMGUR_CLIENT_ID}} 

      - name: Upload an iPhone X picture
        uses: devicons/public-upload-to-imgur@v2.2.2
        id: imgur_iPhoneX
        with:
          path: ./*iPhone_X*
          client_id: ${{secrets.IMGUR_CLIENT_ID}} 

      - name: Create comment
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{ steps.pr_nr.outputs.pr_number }}
          body: |
            ## 1920x1080
            ![1920x1080](${{ fromJSON(steps.imgur_1920x1080.outputs.imgur_urls)[0] }})
            ## 1280x720
            ![1280x720](${{ fromJSON(steps.imgur_1280x720.outputs.imgur_urls)[0] }})
            ## iPhone X
            ![iPhoneX](${{ fromJSON(steps.imgur_iPhoneX.outputs.imgur_urls)[0] }})
